<div class="bill-page">
  <div class="bill">
    <div class="bill-header">
      <div class="title">HMS 2017</div>
      <div class="bill-no">{{guest.Guest_id}}</div>
    </div>
    <div class="bill-item">
      <div class="label">Food and Facilities</div>
      <div class="value">{{bill.food_and_facility_bill}}</div>
    </div>
    <div class="bill-item">
      <div class="label">Accomodation</div>
      <div class="value">{{bill.room_bill}}</div>
    </div>
    <div class="bill-item total">
      <div class="label">Total</div>
      <div class="value">{{bill.total_bill}}</div>
    </div>
  </div>
</div>
