<div class="bill-page">
  <div class="bill">
    <div class="bill-header">
      <div class="title">HMS 2017</div>
      <div class="bill-no">Bill No: 223</div>
    </div>
    <div class="bill-item">
      <div class="label">Food and Facilities</div>
      <div class="value"></div>
    </div>
    <div class="bill-item">
      <div class="label">Accomodation</div>
      <div class="value"></div>
    </div>
    <div class="bill-item total">
      <div class="label">Total</div>
      <div class="value"></div>
    </div>
  </div>
</div>
