@import "../../variables.scss";

form.input-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: color($colors, light);
  border-radius: 0px;
  border-bottom: 1px solid color($borders, light);

  div.input-grp {
    display: flex;
    box-sizing: border-box;
    align-items: center;

    .icon { color: color($colors, primary); margin-right: 12px; }

    &.pad {
      padding: 16px;
    }

    &.flex1 {
      flex: 1;
    }

    &.justify-center {
      justify-content: center;
    }

    input.input-txt {
      border: none;
      width: 0;
      flex: 1;
      height: 18px;
      margin-left: 8px;
      font-size: 0.95rem;
      font-weight: 300;
      transition: color 0.3s ease-in-out;
      border-right: 1px solid color($borders, light);

      &:last-child {
        border-right: none;
      }

      &::placeholder {
        font-weight: 300;
      }//::placeholder

    }//input-txt

  }
}

.section-vert {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;

  .segment {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    border-right: 1px solid color($borders, light);
    overflow-y: auto;
    min-width: 150px;

    &:last-child {
      border-right: none;
    }

    .segment-title {
      display: flex;
      position: relative;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
      color: color($colors, dark);

      h4 {
        font-size: 1rem;
        font-weight: 300;
      }
    }

    .segment-body {
      display: flex;
      flex-direction: column;
      overflow-y: auto !important;
      padding: 8px;
      //background: darken(color($colors, light), 5%);
      width: 100%;
      box-sizing: border-box;

      &.no-pad {
        padding: 0px;
      }



      .segment-body-scroll {
        overflow-y: auto;

        .segment-body-item {
          display: flex;
          padding: 16px;
          border-bottom: 1px solid color($borders, light);
          text-transform: uppercase;
          font-weight: 300;
          &.head {
            font-weight: 500;
            color: color($colors, primary);
          }

          .item-set {
            flex: 1;
          }
        }


        div.profile-card {
          width: 80%;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          background: color($colors, light);
          border-radius: 4px;
          @include elevation(1px);


          div.data-grp {
            display: flex;
            box-sizing: border-box;
            width: 100%;
            align-items: center;
            border-bottom: 1px solid color($borders, light);

            .icon { color: color($colors, primary); margin-right: 12px; }

            &:last-child {
              border-bottom: none;
            }

            &.pad {
              padding: 16px;
            }

            &.justify-center {
              justify-content: center;
            }

            div.data-set {
              flex: 1;
              border-right: 1px solid color($borders, light);
              width: 0;
              align-self: stretch;
              padding: 8px;

              label {
                display: flex;
                align-items: center;
                padding: 8px;

                .set-icon {
                  margin-right: 12px;
                  color: color($colors, primary);
                }

                .text {
                  font-weight: 500;
                  font-size: 0.8rem;
                  text-transform: uppercase;
                  color: color($colors, dark);
                }
              }

              &:last-child {
                border-right: none;
              }
            }//input-set

          }
        }//card
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .segment {
    .segment-title {
      height: 56px;
      width: 100%;
      flex-direction: column;
      border-bottom: 1px solid color($borders, light);
    }
    .segment-body {
      .profile-card {
        margin-left: auto;
        margin-right: auto;
        margin-top: 8px;
        margin-bottom: 8px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .section-vert {
    flex-direction: column;
    overflow-y: auto;
    .segment {
      border-left: none;
      border-bottom: 1px solid color($borders, light);
      overflow-y: hidden;
      overflow-x: auto;
      min-height: 130px;
      flex-direction: row;

      .segment-title {
        height: 100%;
        width: 56px;
        flex-direction: column;
        border-right: 1px solid color($borders, light);

        h4 {
          //transform: rotate(-90deg);
          //text-align: center;
          display: none;
        }
      }


    }
  }
}
