<div class="complete-order-page">
  <form class="complete-order-form">

    <div class="input-grp">

      <div class="input-set">
        <label>
          <span class="set-icon">
            <i class="material-icons md-18">local_pizza</i>
          </span>
          <span class="text">Breakfast (Regular)</span>
        </label>
      </div>

      <div class="input-set">
        <label>
          <span class="set-icon">
            <i class="material-icons md-18">style</i>
          </span>
          <span class="text">120&#8377;</span>
        </label>
      </div>

    </div>

    <!-- Guest Name -->
    <div class="input-grp pad">
      <span class="icon">
        <i class="material-icons md-18">perm_identity</i>
      </span>
      <input type="text" class="input-txt" placeholder="Guest Id*" required>
    </div>

    <!-- Guest Name -->
    <div class="input-grp pad">
      <span class="icon">
        <i class="material-icons md-18">layers</i>
      </span>
      <input type="number" class="input-number" placeholder="Quantity*" required>
    </div>

    <div class="input-grp pad justify-center">
      <button class="btn btn-primary">Complete Order</button>
    </div>

  </form>
</div>
