<div class="register-page">
  <div class="card">
    <div class="card-header">
      <div class="header-image animated flipInY">
        <img src="assets/pencil.svg">
      </div>
    </div>
    <div class="card-body">
      <form class="custom-form register-form animated slideInUp" action="#">
        <h4 class="form-heading">ADD GUEST</h4>
        <div class="form-body">

          <!-- Name -->
          <div class="input-grp">
            <span class="input-grp-icon"><i class="material-icons md-18">perm_identity</i></span>
            <input type="name" class="input-txt" placeholder="First Name*" required>
            <input type="name" class="input-txt" placeholder="Last Name*" required>
          </div>

          <!-- Email -->
          <div class="input-grp">
            <span class="input-grp-icon"><i class="material-icons md-18">mail_outline</i></span>
            <input type="email" class="input-txt" placeholder="Email" required>
          </div>

          <!-- Address -->
          <div class="input-grp">
            <span class="input-grp-icon"><i class="material-icons md-18">place</i></span>
            <textarea class="input-txt" placeholder="Address*" required></textarea>
          </div>

          <button class="btn btn-primary">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
