<div class="section-vert">
  <div class="segment" *ngFor = "let facility of facilities">
    <div class="segment-title">
      <i class="material-icons">{{facility.icon}}</i>
      <h4>{{facility.Type}}</h4>
    </div>
    <div class="segment-body">


      <form class="use-facility-form">
        <!-- Guest Name -->
        <div class="input-grp pad flex3">
          <span class="icon">
            <i class="material-icons md-18">perm_identity</i>
          </span>
          <input type="text" class="input-txt" placeholder="Guest Id*" required>
        </div>

        <div class="input-grp pad justify-center">
          <button class="btn btn-primary">Use</button>
        </div>
      </form>


    </div>
  </div>
  <!-- <div class="segment">
    <div class="segment-title">
      <i class="material-icons">fitness_center</i>
      <h4>GYM</h4>
    </div>
  </div>
  <div class="segment">
    <div class="segment-title">
      <i class="material-icons">spa</i>
      <h4>SPA</h4>
    </div>
  </div> -->
</div>
